$def with (padron, email)
$var title: $title - E-mail enviado
<div class="alert alert-success">
<strong>E-mail enviado!</strong><br/>
Pronto vas a recibir en tu casilla de mail (<strong>$email</strong>)
el enlace para consultar las notas.
</div>
</div>

